h1 {
  text-align: center;
  margin: 12px;
}
#java, #ruby, #cplusplus, #csharp, #python, #javascript {
  display: none;
}
body {
  background-color: rgba(101, 205, 209, 0.281);
}
#cplusplus {
  border: 2px solid green;
  padding: 4px;
  background-color: lightgrey;
}
#java {
  border: 2px solid blue;
  padding: 4px;
  background-color: lightgrey;
}
#ruby {
  border: 2px solid red;
  padding: 4px;
  background-color: lightgrey;
}
#csharp {
  border: 2px solid orange;
  padding: 4px;
  background-color: lightgrey;
}
#python {
  border: 2px solid purple;
  padding: 4px;
  background-color: lightgrey;
}
#gif-center {
  text-align: center;
  margin: 20px;
}
.spoiler { 
  color: black; 
  background-color:black;
  border: 2px solid black;
  border-radius: 25px;
  padding: 4px;
}
.spoiler:hover {
  color: white
}