#java, #ruby, #cplusplus, #csharp, #python {
  display: none;
}
body {
  background-color: rgba(101, 205, 209, 0.281);
}
#cplusplus {
  border: 2px solid green;
  padding: 4px;
  background-color: lightgrey;
}
#java {
  border: 2px solid blue;
  padding: 4px;
  background-color: lightgrey;
}
#ruby {
  border: 2px solid red;
  padding: 4px;
  background-color: lightgrey;
}
#csharp {
  border: 2px solid orange;
  padding: 4px;
  background-color: lightgrey;
}
#python {
  border: 2px solid purple;
  padding: 4px;
  background-color: lightgrey;
}
#gif {
  margin-left: auto;
  margin-right: auto;
  float: none;
}